/* fichier pour le CSS de base (body, balises pour lesquelles on veut toujours la même mise en forme..) */
:root {
    --color-fond-elem: #24b7fd;
    --color-bordure-elem : #304ea3;
}

body {
    background: #030716;
}

/*======================== HEADER ============================*/

.header_menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap:3rem;
}
.burger_menu button, .menu_btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    margin-left: 10px;
}
p {
    margin-left: 1rem;
}

/* ========================= MISE EN PLACE DES POP-UP ======================= */

#popup{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 98;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.popup_content {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: #24b7fd;
    max-width: 500px;
    width: 80%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}
#popup.open{
    display: block;
    opacity: 1;
}
.popup_content p {
    margin: 20px 0;
}
h2 {
    text-align: center;
}
.popup_txt {
    text-align: center;
}
.popup_btn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

/* Effet au survol */

.popup_btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px var(--color-border-elem);
    text-decoration: none;
}
.popup_exit {
    margin-top: 15px;
    background: none;
    border: none;
    color: var(--color-border-elem);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.popup_exit:hover {
    text-decoration: underline;
    color: #000;
}
.mail {
    width: 90%;
    max-width: 320px;
    height: 3vh;
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 20px;
    border: 1px solid var(--color-border-elem);
}
.mail_btn {
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s;
}
.mail_btn:hover {
    background-color: var(--color-border-elem);
}

/* ================================ MAIN ============================= */
/* Mise en place de la grille */

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    margin-top: 3rem;
    gap: 2rem;
}

.logo_img {
    width: 100%;
    height: 20vh;
}
.bloc_img{
    background: #ccc;
    grid-column: 3 / 5;
    height: 20vh;
}
.bloc_btn {
    grid-column: 3 / 5;
    grid-row: 5 / 5;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
}
.bloc_chat {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    background: var(--color-fond-elem);
    border-radius: 20px;
}
#new_conversation {
    height: 5vh;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
}
.create_btn {
    width: 50%;
    height: 5vh;
    border-radius: 20px;
    margin-left: 25%;
    background: var(--color-fond-elem);
    color: #fff;
    font-size: 1rem;
}
.create_btn:hover {
    background-color: var(--color-border-elem);
}
.footer_message {
    display: flex;
    justify-content: center;
    margin-top: -8rem;
    color: #fff;
}

/* ================================== MENU BURGER ====================== */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    position:relative;
}

.header_menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.header_menu li a {
    text-decoration: none;
}
.header_menu .histo {
    opacity: 0;
}

/* icone burger */

#burger {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
}
.burger span {

    margin: 4px;
    display: block;
    height: 4px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    transition: 0.3s;
}
.burger span:nth-child(1) { 
    top: 0; 
}
.burger span:nth-child(2) { 
    top: 8px; 
}
.burger span:nth-child(3) { 
    top: 16px; 
}

.burger_menu {
    opacity: 1;
}
.mbg {
    display: flex;
    justify-content: flex-start;
    margin-top: -4rem;
}

/* =========================================== SIDEBLOC (POP-UP Historique des conversations) ========= */

#sideBloc{
    width: 320px;
    background: #24b7fd;
    border: 1px solid var(--color-border-elem);
    border-left: 2px solid var(--color-border-elem);
    border-radius: 20px;
    position: fixed;
    right: 0;
    top: 1rem;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
    color: #fff;

}
.sideBloc_content {
    padding: 1rem;
    margin-top: 20px;
}
.historyItem {
    margin-bottom: 3rem;
    margin-top: 2rem;
    border: 2px solid #304ea3;
    border-radius: 12px;
    padding: 1rem;
}

.historyItem summary {
    cursor: pointer;
    font-weight: bold;
}
#sideBloc.open{
    transform: translateX(0);
}


.sideBloc_exit {
    border-radius: 10px;
    height: 4vh;
    background: #fff;
    border: 2px solid var(--color-border-elem);
}
.bloc_chat{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    box-shadow: 0 2px 6px #24b7fd;
    background: #000;
}
.conversation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.user .ai{
    transform: translateY(20px);
    animation: fadeSlide 0.3s forwards;
}
.ai {
    color: #000;
    border-radius: 15px;
    box-shadow: 0 2px 6px red;
    padding: 1rem;
    background: #24b7fd;
}
.user {
    background: #24b7fd;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 6px orange;
    padding: 1rem;
}
/* Effet quinconce : décalage horizontal léger */
/* Décalage horizontal pour effet quinconce */
.user:nth-of-type(odd) { margin-left: 0; }
.user:nth-of-type(even) { margin-left: 20px; }

.ai:nth-of-type(odd) { margin-right: 0; }
.ai:nth-of-type(even) { margin-right: 20px; }
@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.stockHisto{
    background: #000;
    border: 2px solid var(--color-border-elem);
    border-radius: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.bloc_btn {
    display: flex;
    gap: 0.5rem;
}

input[type="text"] {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.create_btn {
    padding: 0.4rem 0.8rem;
    background: var(--color-fond-elem);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.create_btn:hover {
    background: #005fd1;
}
.deleteBtn{
    background: none;
    border: none;
}
/* =============================== MEDIA QUERIES ======================== */
/* Pour Tablette */

@media (width < 906px) {
    .container {
        margin-top: 5rem;
        gap: 4rem;
    }

    .bloc_ai {
        grid-column: 2 / 6;
        grid-row: 2 / 5;
    }

    .footer_message {
        display: none;
    }
    .userDemand {
    width: 50%;
}
.userDemandInfo h3 {
    font-size: 1.5rem;
}
.create_btn {
    font-size: 1.5rem;
}
#new_conversation {
    font-size: 1.4rem;
    width: 95%;
}
.logo_img {
    width: 100%;
    height: 15vh;
}
.bloc_img{
    background: #ccc;
    grid-column: 2 / 6;
    height: 15vh;
}
}
/* Pour les smartphones */

@media (width < 500px) {
    .bloc_ai {
        grid-column: 2 / 6;
        grid-row: 1 / 5;
    }
    .bloc_user {
        display: none;
    }
    .menu_btn {
        display:none;
    }
    /* Menu caché par défaut */
    .header_menu {
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
      /* animation */
        max-height: 0;
        opacity: 0;
        transition: all 0.4s ease;
    }

    /* Menu visible */
    .header_menu.active {
        max-height: 300px; /* ajuste selon ton contenu */
        opacity: 1;
    }
    .burger_menu {
        opacity: 1;
    }
    #open_btn {
        background: transparent;
        border: none;
    }

    .burger {
        display: flex;
    }
    .logo {
        display: flex;
        justify-content: flex-end;
    }
    nav {
        display: flex;
        justify-content: flex-start;
    }
    .bloc_img {
        display: none;
    }
    #new_conversation {
    font-size: 1.2rem;
    width: 255%;
    }
    .create_btn {
    font-size: 1.5rem;
    width: 270%;
    border-radius: 10px;
    }
    .bloc_ai {
        grid-column: 1 / -1;
        grid-row: 2 / 5;
    }
    .bloc_btn {
        align-items: flex-end;
        gap: 1rem;
        margin-left: 25%;
    }


}